body {
    margin: 0px;
}

.header {
    color: white;
    align-items: center;
    background-color: #333333;
    padding: 0px 10%;
    display: flex;
    /* justify-content: space-between; */
}

.topnav {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.topnav:hover {
    color: #181818;
    background-color: #f2f2f2;
}

.nav-group {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#title {
    color: white;
    text-decoration: none;
    padding: 20px 16px;
}

body {
    font-family: 'Noto Sans TC', '微軟正黑體', '思源黑體', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    line-height: 1;
}

.informationbox {
    width: 900px;
    margin: 0 auto;
}

.button-container {
    width: 900px;
    margin: 0 auto;
}

.maincontent {
    padding: 20px 0;
    background-color: #c0c0c0;
    margin: 0;
    display: box;
}

.container {
    overflow: auto;
    position: relative;
}

.container2 {
    overflow: auto;
    width: 900px;
    margin: 200px auto;
}

.container3 {
    overflow: auto;
    width: 900px;
    height: auto;
    margin: 80px auto;
    position: relative;
    bottom: 230px;
}

#paragraph1 {
    float: right;
    width: 400px;
    height: auto;
    background-color: #c0c0c0;
    vertical-align: middle;
    padding: 40px 40px 40px 100px;
    line-height: 28px;
    position: relative;
    bottom: 250px;
    z-index: 1; 
}

#paragraph2 {
    float: left;
    width: 400px;
    height: auto;
    background-color: #c0c0c0;
    vertical-align: middle;
    padding: 40px 100px 40px 40px;
    line-height: 28px;
    z-index: 1; 
}

#paragraphtitle1 {
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 420px;
    width: auto;
    margin: 0px 10px;
} 

#paragraphtitle2 {
    font-size: 1.6em;
    font-weight: bold;
    width: auto;
    margin: 0px 10px 20px 0;
} 

#img2 {
    position: relative;
    z-index: 2;
    float: left;
}

#img3 {
    position: relative;
    z-index: 2;
    float: right;
    bottom: 390px;
}

.img {
    width: 400px;
    height: 300px;
    background-color: #a0a0a0;
    margin: 0px;
}

#img1 {
    float: right;
    margin-left: 20px;
}



.information {
    padding-right: 20px;
}

#signbutt {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0px;
    border: none;
    background-color: #333333;
    height: auto;
    width: auto;
    color: white;
    padding: 10px 20px;
    font-size: 0.8em;
}

#signbutt:hover {
    color: #181818;
    background-color: #bebebe;
}

@media (max-width: 900px) {
    .header {
        padding: 0;
    }

    .maincontent {
        padding: 0;
    }

    .img {
        margin: 0;
    }

    .img {
        width: 480px;
        height: 360px;
        background-color: #a0a0a0;
        float: right;
        margin: 0;
    }

    #signbutt {
        margin: 0;
    }
}
/* 
container2下面留有許多的空白，我不知道怎麼處理 */